<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Magazin de chitare, amplificatoare si accesorii">
        <meta name="keywords" content="chitara, amplificator, accesorii chitara, GuitarHeaven, chitara electrica, chitara acustica, chitara clasica">
        <title>GuitarHeaven - Home</title>
        <%- include("../fragmente/head") %>     
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <script type="text/javascript" src=/resurse/js/produse.js></script>
        <script type="text/javascript" src=/resurse/js/produse-cos.js></script>
    </head>
    
    <body>
        <%- include("../fragmente/header") %>
    <main>

        <div id="filtre">
            <div class="row my-4">

                <div class="col-lg-6 d-flex flex-column gap-4">

                    <div id="container-nume">
                        <label> Nume: <input type="text" id="inp-nume"></label>
                    </div>
                    


                    <div id="container-rating">
                        <p>Rating:</p>
                        <div class="btn-group" role="group" aria-label="Rating buttons">
                            <input type="radio" class="btn-check" name="gr_rad" id="i_rad1" value="0:2">
                            <label class="btn btn-outline-primary btn-rad" for="i_rad1">Slab (rating &lt; 2)</label>
                
                            <input type="radio" class="btn-check" name="gr_rad" id="i_rad2" value="2:3.5">
                            <label class="btn btn-outline-primary  btn-rad" for="i_rad2">Mediu (2 &le; rating &lt; 3.5)</label>
                
                            <input type="radio" class="btn-check" name="gr_rad" id="i_rad3" value="3.5:5">
                            <label class="btn btn-outline-primary  btn-rad" for="i_rad3">Bun (3.5 &le; rating)</label>
                
                            <input type="radio" class="btn-check" name="gr_rad" id="i_rad4" value="toate" checked>
                            <label class="btn btn-outline-primary  btn-rad" for="i_rad4">Toate</label>
                        </div>
                    </div>

                    <div id="container-pret" style="display: flex; align-items: center; gap: 10px;">
                        <label for="inp-pret">Pret minim:</label>
                        <span id="min-pret"><%= pretMin %></span>
                        <input type="range" class="form-range" id="inp-pret" value="0" min="<%= pretMin %>" max="<%= pretMax %>">
                        <span id="max-pret"><%= pretMax %></span>
                        <span id="infoRange">(0)</span>
                    </div>

                </div>

                <div class="col-lg-3 d-flex justify-content-center align-items-center">
                <div class = "multiplu">
                    <label>Select multiplu:
                    </label>    
                    <select id="inp-categorii-multiple" multiple size="5">
                        <% for (let opt of locals.optiuni) { %>
                            <option value="<%- opt.unnest %>"><%- opt.unnest %></option>
                        <% } %>
                    </select>
                </div>
                </div>

                <div class="col-lg-3 d-flex justify-content-center align-items-center">
                    <div id="filtru-materiale">
                <div class="filtru-material">
                    <label>
                        <input type="checkbox" name="chk-material" value="metal">
                        Metal
                    </label>
                    <label>
                        <input type="radio" name="metal-opt" value="are" checked>
                        Are
                    </label>
                    <label>
                        <input type="radio" name="metal-opt" value="nu-are">
                        Nu are
                    </label>
                </div>
                <div class="filtru-material">
                    <label>
                        <input type="checkbox" name="chk-material" value="plastic">
                        Plastic
                    </label>
                    <label>
                        <input type="radio" name="plastic-opt" value="are" checked>
                        Are
                    </label>
                    <label>
                        <input type="radio" name="plastic-opt" value="nu-are">
                        Nu are
                    </label>
                </div>
                <div class="filtru-material">
                    <label>
                        <input type="checkbox" name="chk-material" value="lemn">
                        Lemn
                    </label>
                    <label>
                        <input type="radio" name="lemn-opt" value="are" checked>
                        Are
                    </label>
                    <label>
                        <input type="radio" name="lemn-opt" value="nu-are">
                        Nu are
                    </label>
                </div>
                <div class="filtru-material">
                    <label>
                        <input type="checkbox" name="chk-material" value="textil">
                        Textil
                    </label>
                    <label>
                        <input type="radio" name="textil-opt" value="are" checked>
                        Are
                    </label>
                    <label>
                        <input type="radio" name="textil-opt" value="nu-are">
                        Nu are
                    </label>
                </div>
                    </div>
                </div>
            </div>

            <div class="row my-4">
                <div class="col-lg-2">
                    <div id="container-cablu">
                        <label>Cablu inclus: <input type="checkbox" id="inp-cablu"></label>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div id="container-select-multiplu">
                        <label>Select simplu:
                            <select id="inp-categorie">
                                <option id="sel-toate" selected value="toate">toate</option>
                                <% for (let opt of locals.optiuni) { %>
                                    <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                                <% } %>
                            </select>
                        </label>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="mats form-floating">
                        <textarea id="inp-materiale" class="form-control" placeholder="Ex: plastic, metal"></textarea>
                        <label>Materiale (separate prin virgulă): </label>

                        <div class="invalid-feedback">
                            Introdu minimum 3 caractere și cel puțin un material.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div id="container-butoane">
        <div class="but">
            <button id="filtrare" class="btn btn-primary">
                <i class="bi bi-funnel"></i><p>Filtreaza</p>
            </button> 

            <button id="resetare" class="btn btn-secondary">
                <i class="bi bi-arrow-counterclockwise"></i><p>Reseteaza</p>
            </button>
        </div>
        <div class="but">
            <button id="sortCrescNume" class="btn btn-primary">
                <i class="bi bi-sort-alpha-down"></i><p>Sorteaza crescator dupa pret si nume</p>
            </button>
            <button id="sortDescrescNume" class="btn btn-secondary">
                <i class="bi bi-sort-alpha-up-alt"></i><p>Sorteaza descrescator dupa pret si nume</p>
            </button>
        </div>
        <div class="but">
            <button id="sortCrescCrit" class="btn btn-primary">
                <i class="bi bi-sort-down"></i><p>Sorteaza crescator dupa pret si categorie</p>
            </button>
            <button id="sortDescCrit" class="btn btn-secondary">
                <i class="bi bi-sort-up"></i><p>Sorteaza descrescator dupa pret si categorie</p>
            </button>
        </div>
    </div>
      
        <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate. </p>
  
        <section id="produse">

            <h2>Produse</h2>
            <div class="grid-produse" id="grid-produse">
                <% for(let prod of locals.produse) { 
            const oferteProd = locals.oferte.filter(o => o.categorie.toLowerCase() === prod.categorie.toLowerCase());
            console.log(locals.oferte)
            const reducereTotala = oferteProd.reduce((total, o) => total + o.reducere, 0);
            const reducereAplicata = Math.min(reducereTotala, 100);
            const pretNou = prod.pret * (1 - reducereAplicata / 100);
        %>

        <article class="produs <%= oferteProd.length > 0 ? 'produs-reducere' : '' %>">
            <h3 class="nume">Nume: <a href="/produs/<%- prod.id %>"><span class="val-nume"><%- prod.nume %><% if (locals.produseIeftine.has(prod.id)) { %>
                <span style="color:red; font-weight:bold;">(Cel mai ieftin din categorie)</span>
            <% } %></span></a></h3>

            <figure>
                <a href="/produs/<%- prod.id %>">
                    <img src="/resurse/imagini/produse/<%- prod.imagine %>" alt="[imagine <%- prod.nume %>]"/>
                </a>
            </figure>

            <div class="info-prod">
                <ul>
                    <li><p class="pret">
                        Pret: 
                        <% if (oferteProd.length > 0) { %>
                            <span class="pret-vechi"><%= prod.pret.toFixed(2) %> lei</span>
                            <span class="val-pret pret-nou"><%= pretNou.toFixed(2) %> lei</span>
                        <% } else { %>
                            <span class="val-pret"><%= prod.pret.toFixed(2) %> lei</span>
                        <% } %>
                    </p></li>

                    <li><p class="brand">Brand: <span class="val-brand"><%- prod.brand %></span></p></li>
                    <li><p class="greutate">Greutate: <span class="val-greutate"><%- prod.greutate %></span></p></li>
                    <li><p class="materiale">Materiale: <span class="val-materiale"><%- prod.materiale %></span></p></li>
                    <li><p class="cablu">Cablu inclus: <span class="val-cablu"><%- prod.cablu_inclus ? 'Da' : 'Nu' %></span></p></li>
                    <li><p class="rating">Rating: <span class="val-rating"><%- prod.rating %></span></p></li>
                    <li><p class="data">Data: <span><time datetime="<%= prod.data_formatata_ro %>"><%= prod.data_formatata_ro %></time></span></p></li>
                </ul>
            </div>

            <div class="info2">
                <p class="categorie">Categorie: <span class="val-categorie"><%- prod.categorie %></span></p>
                <p class="descriere">Descriere:<br><span class="val-descriere"><%- prod.descriere.replace(/\n/g, "<br>") %></span></p>
            </div>

            <label class="selecteaza-cos">
                Selectează:<br/>
                <input type="checkbox" class="select-cos" value="<%- prod.id %>" autocomplete="off">
            </label>
        </article>

        <% } %>
            </div>
            <p id="mesaj-filtrare" style="display: none;">Nu exista produse conform filtrarii</p>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    <script>
        const textarea = document.getElementById('inp-materiale');
        const materialeValide = ["metal", "plastic", "lemn", "textil","mahogany","alder","nut","poliester"];

        textarea.addEventListener('input', () => {
            const input = textarea.value.trim().toLowerCase();
            
            const materiale = input
            .split(',')
            .map(m => m.trim())
            .filter(m => m.length > 0);

            const areMaterialeValide = materiale.some(mat => materialeValide.includes(mat));

            const isValid = input.length >= 3 && areMaterialeValide;

            if (isValid) {
            textarea.classList.remove('is-invalid');
            textarea.classList.add('is-valid');
            } else {
            textarea.classList.remove('is-valid');
            textarea.classList.add('is-invalid');
            }
        });
    </script>



    </body>
</html>